{% set mainmenu="sample" %}
{% extends "base.html" %}
{% block title %}添加样本{% endblock %}
{% block head %}
<link href="{{ static('css/select2.min.css') }}" rel="stylesheet"/>
{% endblock %}
{% block main %}
<form action="{{ url('sample', kwargs={'action': 'add'}) }}" method="post" class="card">
	<div class="card-header">
		<h3 class="card-title">添加样本</h3>
	</div>
	<div class="card-body">
		<div class="row row-cards">
			<h3 class="card-title mt-3">基本信息</h3>
			<div class="col-md-2 col-sm-4">
				<label class="form-label">样本编号</label>
				<input type="text" name="samplecode" class="form-control">
			</div>
			<div class="col-md-2 col-sm-4">
				<label class="form-label">样本名称</label>
				<input type="text" name="samplename" class="form-control">
			</div>
			<div class="col-md-2 col-sm-4">
				<label class="form-label">来源组织</label>
				<input type="text" name="sampletissue" class="form-control">
			</div>
			<div class="col-md-6 col-sm-12">
				<label class="form-label">来源物种</label>
				<select class="form-control form-select" id="species-select"></select>
			</div>
			<h3 class="card-title mt-3">采样信息</h3>
			<div class="col-md-6 col-sm-12">
				<label class="form-label">采样地点</label>
				<input type="text" name="samplecode" class="form-control">
			</div>
			<div class="col-md-3 col-sm-6">
				<label class="form-label">经度</label>
				<input type="text" name="samplename" class="form-control">
			</div>
			<div class="col-md-3 col-sm-6">
				<label class="form-label">纬度</label>
				<input type="text" name="sampletissue" class="form-control">
			</div>
			<div class="col-md-3 col-sm-6">
				<label class="form-label">采样人员</label>
				<input type="text" name="sampletissue" class="form-control">
			</div>
			<div class="col-md-3 col-sm-6">
				<label class="form-label">采样时间</label>
				<div class="input-icon mb-2">
                  <input class="form-control" placeholder="Select a date" id="datepicker-icon" value="2020-06-20">
                  <span class="input-icon-addon"><!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path><path d="M16 3v4"></path><path d="M8 3v4"></path><path d="M4 11h16"></path><path d="M11 15h1"></path><path d="M12 15v3"></path></svg>
                  </span>
                </div>
			</div>
		</div>
	</div>
</form>
{% endblock %}
{% block script %}
<script src="{{ static('js/select2.min.js') }}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#species-select').select2({
			theme: 'classic',
			width: '100%',
			minimumInputLength: 1,
			ajax: {
				url: "{{ url('species') }}",
				delay: 250,
				dataType: 'json',
				data: function(params) {
					return {
						term: params.term
					}
				},
			}
		});
	});
</script>
{% endblock %}
