{% set mainmenu="sample" %}
{% extends "base.html" %}
{% block title %}样本列表{% endblock %}
{% block head %}
<!--<link href="{{ static('css/datatables.min.css') }}" rel="stylesheet">-->
{% endblock %}
{% block main %}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title"><strong>样本列表</strong></h3>
			</div>
			<table class="table card-table table-vcenter text-nowrap" id="sample-table">
				<thead>
					<tr>
						<th class="fs-4">ID</th>
						<th class="fs-4">样本编号</th>
						<th class="fs-4">样本名称</th>
						<th class="fs-4">来源组织</th>
						<th class="fs-4">物种拉丁名</th>
						<th class="fs-4">物种中文名</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script src="{{ static('js/datatables.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#sample-table').DataTable({
		processing: true,
		serverSide: true,
		dom: '<"card-body border-bottom py-3"<"d-flex"<"text-secondary"l><"ms-auto text-secondary"f>>>' +
			'<"table-responsive"tr>' +
			'<"card-footer d-flex align-items-center"<"m-0 text-secondary"i><"pagination m-0 ms-auto"p>>',
		ajax: {
			url: "{{ url('sample', kwargs={'action': 'list'}) }}",
			type: 'POST',
			headers: {'X-CSRFToken': '{{ csrf_token }}'}
		}
	});
});
</script>
{% endblock %}