{% set mainmenu="sample" %}
{% extends "base.html" %}
{% block title %}样本列表{% endblock %}
{% block head %}
<link href="{{ static('css/datatables.min.css') }}" rel="stylesheet">
{% endblock %}
{% block main %}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title"><strong>样本列表</strong></h3>
			</div>
			<div class="card-body border-bottom py-3">
				<div class="d-flex">
					<div class="text-secondary">
						显示
						<div class="mx-2 d-inline-block">
							<select class="form-control form-select form-select-sm">
								<option value="10">10</option>
								<option value="25">25</option>
								<option value="10">50</option>
								<option value="25">100</option>
							</select>
						</div>
						行
					</div>
					<div class="ms-auto text-secondary">
						搜索
						<div class="ms-2 d-inline-block">
							<input type="text" class="form-control form-control-sm">
						</div>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table card-table table-vcenter text-nowrap" id="sample-table">
					<thead>
						<tr>
							<th class="fs-4">ID</th>
							<th class="fs-4">样本编号</th>
							<th class="fs-4">样本名称</th>
							<th class="fs-4">物种名称</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="card-footer d-flex align-items-center">
				<p class="m-0 text-secondary"></p>
				<ul class="pagination m-0 ms-auto"></ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script src="{{ static('js/datatables.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#sample-table').DataTable({
		info: false,
		lengthChange: false,
		searching: false,
		paging: false,
		processing: true,
		serverSide: true,
		odering: false,
		ajax: {
			url: "{{ url('sample', kwargs={'action': 'list'}) }}",
			type: 'POST',
			headers: {'X-CSRFToken': '{{ csrf_token }}'}
		}
	});
});
</script>
{% endblock %}