<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>样本管理系统</title>
    <!-- CSS files -->
    <link href="{{ static('css/tabler.min.css') }}" rel="stylesheet"/>
    <style>
      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
  </head>
  <body  class=" d-flex flex-column bg-white">
    <div class="row g-0 flex-fill">
      <div class="col-12 col-lg-6 col-xl-4 border-top-wide border-primary d-flex flex-column justify-content-center">
        <div class="container container-tight my-5 px-lg-5">
          <div class="text-center mb-4">
            <a href="." class="navbar-brand navbar-brand-autodark"><img src="{{ static('img/logo.png') }}" height="120" alt=""></a>
          </div>
          <h2 class="h3 text-center mb-3">
            动物多样性与生态保育宜宾市重点实验室
          </h2>
          <h3 class="h3 text-center mb-3">
            样本管理系统
          </h3>
          <form id="login-form" action="{{ url('signin') }}" method="post" autocomplete="off" novalidate>
            <div class="mb-3">
              <label class="form-label">帐号</label>
              <input type="text" class="form-control" name="userid" placeholder="用户名或邮箱" autocomplete="off">
            </div>
            <div class="mb-2">
              <label class="form-label">
                密码
                <span class="form-label-description">
                  <a href="./forgot-password.html">忘记密码</a>
                </span>
              </label>
              <input type="password" class="form-control" name="userpass" placeholder="密码"  autocomplete="off">
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">登录</button>
            </div>
            {{ csrf_input }}
          </form>
          <div class="text-center text-secondary mt-3">
            没有帐号? <a href="{{ url('signup') }}" tabindex="-1">注册</a>
          </div>
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-important alert-danger alert-dismissible mt-2" role="alert">
            <div class="d-flex">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <circle cx="12" cy="12" r="9"></circle>
                  <line x1="12" y1="8" x2="12" y2="12"></line>
                  <line x1="12" y1="16" x2="12.01" y2="16"></line>
                </svg>
              </div>
              <div>{{ message }}</div>
            </div>
            <a class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="close"></a>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-8 d-none d-lg-block">
        <!-- Photo -->
        <div class="bg-cover h-100 min-vh-100" style="background-image: url({{ static('img/snakecover.jpg') }})"></div>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="{{ static('js/tabler.min.js') }}"></script>
    <script src="{{ static('js/jquery.min.js') }}"></script>
    <script src="{{ static('js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript">
      $('#login-form').validate({
        normalizer: function(value) {
          return $.trim(value);
        },
        errorClass: 'is-invalid',
        validClass: 'is-valid',
        rules: {
          userid: {
            required: true,
            minlength: 4,
          },
          userpass: {
            required: true,
            minlength: 6
          }
        }
      });
    </script>
  </body>
</html>