{% set mainmenu="species" %}
{% extends "base.html" %}
{% block title %}物种列表{% endblock %}
{% block head %}
<!--<link href="{{ static('css/datatables.min.css') }}" rel="stylesheet">-->
{% endblock %}
{% block main %}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title"><strong>物种列表</strong></h3>
				{% if request.user.profile.identity > 1 %}
				<div class="card-actions">
					<a href="{{ url('species', kwargs={'action': 'add'}) }}" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
            添加物种
          </a>
				</div>
				{% endif %}
			</div>
			<table class="table card-table table-vcenter text-nowrap" id="species-table">
				<thead>
					<tr>
						<th class="fs-4">ID</th>
						<th class="fs-4">界</th>
						<th class="fs-4">门</th>
						<th class="fs-4">纲</th>
						<th class="fs-4">目</th>
						<th class="fs-4">科</th>
						<th class="fs-4">属</th>
						<th class="fs-4">种</th>
						<th class="fs-4">操作</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

<div class="modal modal-blur fade" id="delete-species-dialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-status bg-danger"></div>
      <div class="modal-body text-center py-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.24 3.957l-8.422 14.06a1.989 1.989 0 0 0 1.7 2.983h16.845a1.989 1.989 0 0 0 1.7 -2.983l-8.423 -14.06a1.989 1.989 0 0 0 -3.4 0z" /><path d="M12 9v4" /><path d="M12 17h.01" /></svg>
        <h3>你确定要删除物种 <span id="delete-species-code"></span>?</h3>
        <div class="text-secondary">物种一但删除, 不能被找回, 请慎重!</div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">取消</a></div>
            <div class="col"><a href="#" id="delete-species-ok" class="btn btn-danger w-100" data-bs-dismiss="modal">确认</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<script src="{{ static('js/datatables.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
	var table = $('#species-table').DataTable({
		processing: true,
		serverSide: true,
		dom: '<"card-body border-bottom py-3"<"d-flex"<"text-secondary"l><"ms-auto text-secondary"f>>>' +
			'<"table-responsive"tr>' +
			'<"card-footer d-flex align-items-center"<"m-0 text-secondary"i><"pagination m-0 ms-auto"p>>',
		ajax: {
			url: "{{ url('species', kwargs={'action': 'list'}) }}",
			type: 'POST',
			headers: {'X-CSRFToken': '{{ csrf_token }}'}
		}
	});

	$(document).on('click', 'button.delete-species', function(e){
		e.preventDefault();
		$('#delete-species-code').html($(this).parent().siblings().eq(-1).html());
		var species_id = $(this).data('target');
		$('#delete-species-ok').click(function(){
			$.ajax({
				url: "{{ url('species', kwargs={'action': 'delete'}) }}",
				type: "post",
				data: {
					sid: species_id,
				},
				headers: {'X-CSRFToken': '{{ csrf_token }}'},
				success: function() {
					table.ajax.reload();
				}
			});
		});
	});
});
</script>
{% endblock %}